/* Contenedor de las imágenes */
.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Imagen de fondo (corazones) */
.image-container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  object-fit: cover;
}

/* Imagen en primer plano (salchichas) */
.image-container .foreground-image {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  object-fit: cover;
}

.jumbo-contain {
  align-items: center;
}

@media (max-width: 768px) {
  .main-img {
      order: -1;
  }
}

/* Ocultar las imágenes en pantallas muy pequeñas */
@media (max-width: 576px) {
  .image-container .background-image,
  .image-container .foreground-image {
      display: block;
      width: 100%;
  }
}


body {
  font-family: "Comfortaa", sans-serif;
}
section {
  background-color: #FEF5F0;
  margin: 0;
  padding: 0;
}

/* NAVBAR - HEADER */
.header-area {
  background-color: #0a0e1a;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: auto;
  max-width: 100%;
  flex-shrink: 0;
  margin-left: 0.5rem;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-list li {
  margin: 0 15px;
}

.header-area .main-menu .menu-list a {
  color: white; /* Color blanco por defecto */
  text-decoration: none; /* Eliminar subrayado */
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, -webkit-text-fill-color 0.3s ease;
}

.menu-list a:hover,
.menu-list a.active {
  background: linear-gradient(90deg, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Usar el color original cuando se pase el cursor */
  color: transparent; /* Necesario para que el color del texto use el fondo degradado */
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 10px;
  transition: color 0.3s;
}

.header-icons a:hover {
  color: #f39c12;
}

.header-icons i {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #FF7F18;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 0.5rem;
}

.header-icons i:hover {
  background-color: #FF7F18;
  color: #0a0e1a;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #c0392b;
}



/* FORMULARIOS */
form {
  border-radius: 5px;
  margin: 5rem;
  background-color: #FEF5F0;
  padding: 40px;
  box-shadow: 5px 7px 35px #202C38;
}
.form-group {
  position: relative;
}
.form-group.position-relative {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.form-group .input-icon {
  position: relative;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 127, 24, 0.5);
  border-color: #FF7F18;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 5px;
  accent-color: #FF7F18;
}

.form-control {
  font-size: .875rem;
}
input .bi {
  display: flex;
}

.input-icon .fa {
  position: absolute;
  display: flex; }

.read-only {
  background-color: #ccc;
  pointer-events: none;
}
/* TOGGLE PASSWORD */
.input-icon {
  position: relative;
}

#password {
  padding-right: 40px;
}

#toggle-password {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

#toggle-icon {
  font-size: 17px;
  color: #59595b; 
}
/* BOTONES */
.primary-btn {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: .03em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease;
  cursor: pointer;
  border: none;
  width: 100%;
}
.login-btn {
  background: linear-gradient(90deg, #6A82FB 0%, #FC5C7D 100%);
}
.primary-btn2 {
  background: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
}
.primary-btn1 {
  background: #FEF5F0;
  color: #001D23;
}
.primary-btn2:hover {
  background: linear-gradient(90deg, #FF7F18 0%, #F86CA7 100%);
}
.primary-btn1:hover {
  background: #001D23;
  color: #FEF5F0;
}
.primary-btn2:active,
.primary-btn1:active {
  background-color: #FF7F18;
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.login-redirect {
  text-align: center;
  margin-top: 20px;
}
.login-redirect a {
  color: #6A82FB;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}
.login-redirect a:hover {
  color: #FC5C7D;
}
.login-redirect p {
  font-size: 0.875rem;
  color: #6c757d;
}
/* MENSAJES DE ERROR O EXITO */
.alert-success {
  font-size: 1rem;
  font-weight: bold;
  color: #270;
  background-color: #DFF2BF;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.alert-danger {
  font-size: 1rem;
  font-weight: bold;
  color: #cc0033;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
/* LOGO - IMAGEN */
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.img-fluid {
  height: auto;
}

/* INPUT ICONS */
.input-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.input-icon i, .input-icon svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%); 
}

.form-control {
  padding-left: 35px;
}

.form-group.position-relative {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group .input-icon {
  position: relative;
}

.input-icon input.form-control {
  padding-left: 35px;
}

.input-icon svg {
  top: 50%;
  transform: translateY(-50%); 
}

/* CHECKBOX */
.custom-control-input {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* Aplicamos la máscara de recorte */
.image-container img {
    width: 60%; 
    height: 40vh; 
    object-fit: cover;
     
    margin: 0;
}
/* Ocultar la imagen en pantallas medianas y pequeñas */
@media (max-width: 991.98px) {
    .image-container img {
        display: none;
    }
}

.container-fluid {
    margin: 0;
    padding:0;
}
.container-home {
    background-color: #FBE5DA;
    padding: 1em;
}

@media (min-width: 992px) {
    .card-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    .card-container {
        width: 100%;
    }
}

.main-text {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #001D23;
    
}
.dog-title {
    background: -webkit-linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 99, 71);  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.jumbo-content {
    display: flex;
    justify-content: center;
    
}

.btn-multicolor-border {
    position: relative;
    background: transparent;
    border: none;
    color: #000;
    padding: 1em 20px;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px; /* Ensure this is applied */
    z-index: 1;
    overflow: hidden;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.btn-multicolor-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 4px; /* Adjust this based on your border width */
    background: linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.btn-multicolor-border:hover {
    background: linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    color: #fff;
    border-radius: 30px; /* Ensure this is applied */
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: black;
}
.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }
/*Estilos del chat*/
  .chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.messages-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}


/* Nueva media query para ajustar el jumbotron */
@media (max-width: 991.98px) {
    .jumbo-contain {
        flex-direction: column; /* Asegura que los elementos del jumbotron estén en columna */
        text-align: center; /* Centra el texto */
    }

    .col-md-6 {
        width: 100%; /* Ocupa el 100% del ancho */
    }

    .main-text {
        font-size: 2em; /* Ajusta el tamaño del texto si es necesario */
        padding: 1em; /* Añade padding si es necesario */
    }

    .lead {
        display: flex;
        justify-content: center; /* Centra los botones horizontalmente */
        gap: 3em; /* Espacio entre los botones */
    }

    .btn-multicolor, .btn-multicolor-border {
        width: auto; /* Ajusta el ancho de los botones */
        margin-bottom: 0; /* Elimina el espacio inferior entre los botones */
    }
}
/* CARD CONTAINER */

.car-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 2em 0; 
    
}

.card-bg-1, .card-bg-2, .card-bg-3, .card-bg-4 {
    flex: 1 1 calc(25% - 6em); /* Ajusta el tamaño de las tarjetas y el espacio entre ellas */
    box-sizing: border-box;
    margin-bottom: 6em; /* Ajusta este valor para cambiar el espacio vertical */
    border: 1px solid transparent; /* Borde transparente */
    background-clip: padding-box; /* Asegura que el fondo no se superponga al borde */
    z-index: -2;
}

.card-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card.card-bg-1 {
    background-color: #FBECEC; /* Color de fondo rojo claro */
    height: 10vh;
}

.card.card-bg-2 {
    background-color: #EFF8DD; /* Color de fondo verde claro */
    height: 10vh;
}

.card.card-bg-3 {
    background-color: #FFD9E7; /* Color de fondo azul claro */
    height: 10vh;
}

.card.card-bg-4 {
    background-color: #FDEAE1; /* Color de fondo amarillo claro */
    height: 10vh;
}

/* Para asegurar que las tarjetas se alineen correctamente en pantallas más pequeñas */
@media (max-width: 991.98px) {
    .card {
        flex: 1 1 calc(50% - 2em); /* Ajusta el tamaño para pantallas medianas */
    }
}

@media (max-width: 767.98px) {
    .card {
        flex: 1 1 100%; /* Tarjetas a ancho completo en pantallas pequeñas */
    }
}

.card-icon {
    font-size: 2.5em;
    background: -webkit-linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 99, 71); 
    margin-bottom: 1em; 
    padding-right: 1em;
}

.card-title {
    color: #000;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    margin-bottom: 0.5em; 
}

.card-text-home {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 2em;
    color: #696969;
}

.jumbotron-container {
    margin: 2em auto;
    background-color: #F5F2FC; /* Ajusta el color de fondo según tus necesidades */
    padding: 2em;
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
}

.jumbotron-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
}

.jumbotron-image {
    flex: 1;
    margin-right: 2em;
    
    margin-bottom: 1em; /* Añadir margen inferior para evitar que la imagen se pegue al texto en pantallas pequeñas */
}

.jumbotron-image img {
    width: 100%; /* Ajusta la imagen para que tome el 100% del contenedor */
    height: auto;
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
}

.jumbotron-text {
    flex: 1;
    text-align: left;
}

/* Estilos específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .jumbotron-content {
        flex-direction: column; /* Cambia la dirección del flujo a columna */
        align-items: center; /* Centra los elementos en la columna */
    }

    .jumbotron-image {
        margin-right: 0;
    }

    .jumbotron-text {
        text-align: center; /* Centra el texto para pantallas pequeñas */
    }
}

.jumbotron-text h1 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 0.5em;
}

.jumbotron-text h3 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6c757d; /* Ajusta el color del subtítulo según tus necesidades */
}




/* FINDER */
.finder-main-container {
    background-color: #FBF6F3;
    margin-top: 150px;
    width: 90%;
    margin: 0 auto;
}

.form-finder {
    z-index: 1;
    margin-top: 3rem;
    
}

.finder-bg .container {
    position: relative;
    padding: 2em;
    overflow:hidden;
   
}

.image-wrapper {
    position: relative;
    top: -330px;
    left: 20%;
    
}

.floating-image {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-50%);
    width: 350px;
    height: auto;
    z-index: 1;
}

.filter label {
    background: -webkit-linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 99, 71);  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* Responsive Styles */

@media (max-width: 992px) {
.form-finder-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.form-finder-filters .col-md-3,
.form-finder-filters .col-12 {
    flex: 1 1 100%;
     max-width: 100%;
}
}

@media (max-width: 576px) {
    .form-finder-filters {
        flex-direction: column;
    }

    
    .image-wrapper {
        
        top: -400px;
        left: 10%;
        
    }
}

@media (max-width: 768px) {
    
    .image-wrapper {
        position: relative;
        top: -360px;
        left: 10%;
        
    }
}
/* Basic rc-slider styles */
.rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    -ms-touch-action: none;
    touch-action: none;
  }
  
  .rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: #e9e9e9;
    height: 4px;
    border-radius: 6px;
  }
  
  .rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: #abe2fb;
  }
  
  .rc-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    margin-top: -5px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px #96dbfa;
    background-color: #fff;
    touch-action: pan-x;
  }
  
  .rc-slider-handle:focus,
  .rc-slider-handle:hover,
  .rc-slider-handle:active {
    border-color: #57c5f7;
    box-shadow: 0 0 0 5px #96dbfa;
  }
  
  .rc-slider-disabled {
    background-color: #e9e9e9;
    cursor: not-allowed;
  }
  
  .rc-slider-disabled .rc-slider-handle,
  .rc-slider-disabled .rc-slider-track {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
  }
  


/* Custom rc-slider styles */
.rc-slider-rail {
    background-color: #f6cbd8; /* color de la barra de fondo */
}

.rc-slider-track {
    background-color: #f86f90; /* color de la barra de rango */
}

.rc-slider-handle {
    border-color: #f86f90; /* color de los controles del slider */
}

.rc-slider-handle:focus,
.rc-slider-handle:hover,
.rc-slider-handle:active {
    border-color: #f86f90;
    box-shadow: 0 0 5px #f86f90;
}


/* TEAM */

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.team-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    text-align: center;
}

.image-circle {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-name {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #000; /* Ajusta el color según tus necesidades */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .team-row {
        flex-direction: column;
    }
}


/* FOOTER */

.footer {
    width: 100%;
    background-color: #FEF5F0;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.btn-multicolor {
    background: rgb(248,110,150);
    background: linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    color: #fff;
    border-radius: 30px;
    padding: 1em;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.link-admin-login {
    background: -webkit-linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 99, 71);  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}

.footer-title {
    background: -webkit-linear-gradient(90deg, rgba(248,110,150,1) 0%, rgba(250,113,128,1) 35%, rgba(253,121,73,1) 69%, rgba(255,126,31,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 99, 71);  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: left;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.footer .list-unstyled {
    padding-left: 0;
}

.footer .list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.footer .list-unstyled li i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.footer-text {
    border-top: 1px solid #DEE2E6;
    padding-top: 1em;
}
.message {
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
    max-width: 70%;
    word-wrap: break-word;
}

.message.sent {
    background-color: #d1ffd6;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: #d6d1ff;
    align-self: flex-start;
    text-align: left;
}

.input-container {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
