

.single-pet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.pet-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pet-card-header {
    text-align: center;
    margin-bottom: 20px;
}

.pet-profile-photo {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.owner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.owner-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.detail-item, .detail-item-description {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.pet-details {
    max-width: 500px;
    margin: 0 auto;
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.narrow-select {
    max-width: 200px;
    margin-right: 10px;
}

.additional-section {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.additional-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.additional-photo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;
}

.info-buttons {
    margin-top: 20px;
    min-width: 150px;
}

.care-info, .compatibility-info {
    margin-top: 20px;
    text-align: left;
}

@media (min-width: 768px) {
    .pet-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .pet-card-header {
        grid-column: 1 / 2;
        text-align: left;
    }

    .pet-card-body {
        grid-column: 2 / 3;
        text-align: left;
    }

    .pet-profile-photo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        max-width: 300px;
    }

    .additional-photos {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .pet-card {
        flex-direction: column;
    }

    .pet-card-header, .pet-card-body {
        width: 100%;
    }
}
