.single-pet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.pet-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
}

.pet-card-header {
    text-align: center;
    margin-bottom: 20px;
}
.pet-card-body h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
    margin-bottom: 1em;
    color: #001D23;
}

.pet-profile-photo {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media (max-width: 450px) {
    .pet-profile-photo {
        min-width: 300px
    }
}

.owner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.owner-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pet-info-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.detail-item, .detail-item-description {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}
.detail-item label {
    font-weight: bolder;
    margin-inline-end: 1em;
    color: #F46F30;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

.pet-details {
    max-width: 600px;
    margin: 0 auto;
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.narrow-select {
    max-width: 200px;
    margin-right: 10px;
}

.additional-section {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.additional-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.additional-photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
}

.info-buttons {
    margin-top: 20px;
    min-width: 150px;
}

.care-info, .compatibility-info {
    margin-top: 20px;
    text-align: left;
    background-color: #FEF5F0;
}
.care-info h3 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: #253D4E;
    padding-left: 1.5em;
}
.care-info p {
    padding: 1.5em;
}
.btn-back {
    background-color: #253D4E;
    color: #fff !important;
}
.btn-back:hover {
    background-color: #F46F30;
    color: #fff;
    transition: 0.5s;
}

@media (min-width: 768px) {
    .pet-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .pet-card-header {
        grid-column: 1 / 2;
        text-align: left;
    }

    .pet-card-body {
        grid-column: 2 / 3;
        text-align: left;
    }

    .pet-profile-photo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        max-width: 300px;
    }

    .additional-photos {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .pet-card {
        flex-direction: column;
    }

    .pet-card-header, .pet-card-body {
        width: 100%;
    }
}
